.app {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px 180px 360px;
    grid-template-rows: 30px 30px 80px 80px 80px 80px 80px 80px 80px 30px;
    justify-content: center;
    column-gap: 2px;
    row-gap: 2px;
}

.box {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    
}

.daylabel {
    grid-row-start: 2;
    background-color: cadetblue;
}

.timelabel {
    grid-column-start: 1;
    background-color: darkslategrey;
}

.header {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
}

.footer {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 7;
}


li {
    list-style-type: none;
    flex-grow: 1;
    
}

.session1 {
    grid-row-start: 3;
    grid-row-end: 3;
}

.session2 {
    grid-row-start: 4;
    grid-row-end: 4;
}

.session3 {
    grid-row-start: 5;
    grid-row-end: 5;
}

.session4 {
    grid-row-start: 6;
    grid-row-end: 6;
}

.session5 {
    grid-row-start: 7;
    grid-row-end: 7;
}

.session6 {
    grid-row-start: 8;
    grid-row-end: 8;
}

.session7 {
    grid-row-start: 9;
    grid-row-end: 9;
}

.session8 {
    grid-row-start: 10;
    grid-row-end: 10;
}

.session9 {
    grid-row-start: 11;
    grid-row-end: 11;
}

.day1 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.day2 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.day3 {
    grid-column-start: 4;
    grid-column-end: 4;
}

.day4 {
    grid-column-start: 5;
    grid-column-end: 5;
}

.day5 {
    grid-column-start: 6;
    grid-column-end: 6;
}

.english {
    background-color: midnightblue;
}

.maths {
    background-color: crimson;
}

.physics {
    background-color: black;
}

.chemistry {
    background-color: green;
}

.music {
    background-color: goldenrod;
}


.edit {
    background-color: teal;
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 7;
    grid-column-end: 9; 
}



.login {
    background-color: teal;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 9;  
}

.login-form {
    display: grid;
    grid-template-columns: 100px 180px;
    grid-template-rows: repeat(4, 30px);
}

.login-row1 {
    grid-row-start: 1;
    grid-row-end: 1;
}

.login-row2 {
    grid-row-start: 2;
    grid-row-end: 2;
}

.login-row3 {
    grid-row-start: 3;
    grid-row-end: 3;
}

.login-column1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.login-column2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.login button {
    width: 50%;
}
.errormessage {
    color: #eb262c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filter {
    background-color: teal;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 9;
    
}


.hidden {
    display: none;
}