.app {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 300px;
    grid-template-rows: 25px 25px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 25px;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.box {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    width: 95%;
    height: 95%;
}

.daylabel {
    grid-row-start: 2;
    background-color: cadetblue;
}

.timelabel {
    grid-column-start: 1;
    background-color: darkslategrey;
}

.header {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
}

.footer {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 8;
}


li {
    list-style-type: none;
    flex-grow: 1;
    
}

.monday {
    grid-column-start: 2;
    grid-column-end: 2;
}

.tuesday {
    grid-column-start: 3;
    grid-column-end: 4;
}

.session1 {
    grid-row-start: 3;
    grid-row-end: 3;
}
.session2 {
    grid-row-start: 4;
    grid-row-end: 4;
}
.session3 {
    grid-row-start: 5;
    grid-row-end: 5;
}
.session4 {
    grid-row-start: 6;
    grid-row-end: 6;
}
.session5 {
    grid-row-start: 7;
    grid-row-end: 7;
}
.session5 {
    grid-row-start: 7;
    grid-row-end: 7;
}

.session5 {
    grid-row-start: 7;
    grid-row-end: 7;
}

.session6 {
    grid-row-start: 8;
    grid-row-end: 8;
}

.session7 {
    grid-row-start: 9;
    grid-row-end: 9;
}

.session8 {
    grid-row-start: 10;
    grid-row-end: 10;
}

.session9 {
    grid-row-start: 11;
    grid-row-end: 11;
}

.day1 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.day2 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.day3 {
    grid-column-start: 4;
    grid-column-end: 4;
}

.day4 {
    grid-column-start: 5;
    grid-column-end: 5;
}

.day5 {
    grid-column-start: 6;
    grid-column-end: 6;
}

.day6 {
    grid-column-start: 7;
    grid-column-end: 7;
}

.day7 {
    grid-column-start: 8;
    grid-column-end: 8;
}

.ninjastars {
    background-color: midnightblue;
}

.samuraiwarriors {
    background-color: crimson;
}

.junioradults {
    background-color: black;
}

.filter {
    background-color: burlywood;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 8;
    grid-column-end: 11
}

.filter-checkbox {
    text-align: left;
}

.edit {
    background-color: burlywood;
    grid-row-start: 8;
    grid-row-end: 13;
    grid-column-start: 8;
    grid-column-end: 11; 
}
.editform {
    text-align: left;
}

.hidden {
    display: none;
}